---
- include_vars: "{{ ansible_os_family }}.yml"

- name: fstab optimizations
  replace:
    path: /etc/fstab
    regexp: defaults
    replace: defaults,noatime

- name: fstab optimizations
  replace:
    path: /etc/fstab
    regexp: errors=remount-ro
    replace: errors=remount-ro,noatime

- name: configure sysctl
  copy:
    src: "{{ sysctl_config }}"
    dest: "{{ sysctl_config_dest }}"
    owner: "root"
    group: "root"
    mode: 0600
  register: sysctl

- name: reload sysctl
  command: sysctl -p
  when: sysctl.changed

- name: hide pids from other users
  blockinfile:
    block: "proc                    /proc                   proc    nosuid,noexec,nodev,hidepid=2 0 0"
    path: /etc/fstab
  when: ansible_os_family == "Debian" or ansible_os_family == "RedHat" or ansible_os_family == "Archlinux"

- name: Copy journald config
  copy:
    src: journald.conf
    dest: /etc/systemd/journald.conf
    owner: root
    group: root
    mode: 0644
  register: journald_config
  when: ansible_os_family == "Debian" or ansible_os_family == "RedHat" or ansible_os_family == "Archlinux"

- name: Restart journald on config change
  service:
    name: systemd-journald
    enabled: yes
    state: restarted
  when: journald_config.changed

- name: install macchanger
  package:
    name: macchanger
    state: present
  register: macchanger
  when: ansible_os_family == "Debian" or ansible_os_family == "RedHat" or ansible_os_family == "Archlinux"

- name: configure macchanger
  copy:
    src: macchanger
    dest: /etc/default/macchanger
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == "Debian"

- name: install smartmontools
  package:
    name: smartmontools
    state: present
  when: ansible_os_family == "Debian" or ansible_os_family == "RedHat"

- name: Start smartmontools service
  service:
    name: smartmontools
    enabled: yes
    state: started
  when: ansible_os_family == "RedHat" or ansible_os_family == "Debian"

- name: install flatpak
  package:
    name: flatpak
    state: present

- name: install apt-file
  package:
    name: apt-file
    state: present
  register: apt_file
  when: ansible_os_family == "Debian"

- name: init apt-file
  command: apt-file update
  when: apt_file.changed

- name: disable polkit for NetworkManager
  copy:
    src: nm-polkit.disable
    dest: /etc/NetworkManager/conf.d/any-user.conf
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == "Debian"

- name: Restart NetworkManager
  service:
    name: NetworkManager
    enabled: yes
    state: restarted
  when: ansible_os_family == "Debian"
