#hsetroot -fill /home/basti/Bilder/whax.jpg&
xscreensaver &
xbindkeys &
{{ my_terminal }} &

DELAY=.5
#APPS='wmtop \
#      wmsm -d sda -m \
#      wmnd \
#      wmacpi \
#      wmBinClock \
#      wmix \
#      wmmaiload \
#      wmwifi -tn -i 3 -l \
#      wmsystemtray'
#(for X in $APPS ; do ($X &) ; sleep $DELAY ; done) &
