#hsetroot -fill /home/basti/Bilder/whax.jpg&
#feh -B -bg-scale /home/basti/Bilder/whax.jpg &

{{ my_browser }} &
xscreensaver &
xbindkeys &
wmapm &
wmnetload -i urtwn0 &
#wmsystemtray &
sleep 1

xbindkeys &
{{ my_terminal }} &

xterm -fa monaco -fs 12 +mb -vb +sb -fg white -bg black &
xterm -fa monaco -fs 12 +mb -vb +sb -fg white -bg black &
wmmon &
wmmon -s &
wmmon -i &
wmtime -digital &
#/usr/X11R6/bin/wmBinClock &
