# For the benefit of emacs users: -*- shell-script -*-
###########################
# xbindkeys configuration #
###########################
#
# Version: 1.8.3
#
# If you edit this file, do not forget to uncomment any lines
# that you change.
# The pound(#) symbol may be used anywhere for comments.
#
# To specify a key, you can use 'xbindkeys --key' or
# 'xbindkeys --multikey' and put one of the two lines in this file.
#
# The format of a command line is:
#    "command to start"
#       associated key
#
#
# A list of keys is in /usr/include/X11/keysym.h and in
# /usr/include/X11/keysymdef.h
# The XK_ is not needed.
#
# List of modifier:
#   Release, Control, Shift, Mod1 (Alt), Mod2 (NumLock),
#   Mod3 (CapsLock), Mod4, Mod5 (Scroll).
#

# The release modifier is not a standard X modifier, but you can
# use it if you want to catch release events instead of press events

# By defaults, xbindkeys does not pay attention with the modifiers
# NumLock, CapsLock and ScrollLock.
# Uncomment the lines above if you want to pay attention to them.

#keystate_numlock = enable
#keystate_capslock = enable
#keystate_scrolllock= enable

# Examples of commands:

"xbindkeys_show" 
  control+shift + q

# set directly keycode (here control + f with my keyboard)
#"xterm"
#  c:41 + m:0x4

# specify a mouse button
"xterm"
  control + b:2

#"xterm -geom 50x20+20+20"
#   Shift+Mod2+alt + s
#
## set directly keycode (here control+alt+mod2 + f with my keyboard)
#"xterm"
#  alt + c:0x29 + m:4 + mod2
#
## Control+Shift+a  release event starts rxvt
#"rxvt"
#  release+control+shift + a
#
## Control + mouse button 2 release event starts rxvt
#"rxvt"
#  Control + b:2 + Release

# lauter
"aumix -v +10 &"
    m:0x0 + c:176

# leiser
"aumix -v -10 &"
    m:0x0 + c:174

# mute
"aumix -v mute &"
    m:0x0 + c:160

# penntaste
"sudo pm-suspend"
    m:0x0 + c:223

# heller
"xbacklight +20"
    m:0x0 + c:212

# dunkler
"xbacklight -20"
    m:0x0 + c:101

# schloss
#"lock screen"
#    m:0x0 + c:78

# wegrenntaste
"halt -p"
m:0x0 + c:171

# kiste mit plus
"xscreensaver-command -lock &"
m:0x0 + c:151

# wlan taste

# kontrasttaste

# win + b -> browser
"{{ my_browser }} &"
m:0x40 + c:56

# win + c -> chat
"pidgin &"
m:0x40 + c:54

# win + d -> dateibrowser
"krusader &"
m:0x40 + c:40

# win + e -> editor
"gedit &"
m:0x40 + c:26

# win + f -> firefox
"firefox &"
m:0x40 + c:41

# win + m -> mail
"claws-mail &"
m:0x40 + c:58

# win + o -> office
"libreoffice &"
m:0x40 + c:32

# win + p -> play
"playonlinux &"
m:0x40 + c:33

# win + s -> sound
"pragha &"
m:0x40 + c:39

# win + v -> virtualbox
"/usr/bin/VirtualBox &"
m:0x40 + c:55

# win + x -> xchat
"xchat &"
m:0x40 + c:53

##################################
# End of xbindkeys configuration #
##################################
